services:
  - type: web
    name: npc-site
    env: node
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: ADMIN_CHAT_ID
        sync: false
      - key: NODE_ENV
        value: production
    autoDeploy: true